{% extends 'base.html' %}

{% block main %}
<div class="container">
<form method="POST" onsubmit="return onSubmitForm()">
   {% csrf_token %}
   <div class="form-group">
     <label for="bid_name">Your Name</label>
     <input type="text" name="bid_name" class="form-control" id="exampleFormControlInput1">
   </div>
   <div class="form-group">
      <label for="bid_email">Your email</label>
      <input type="email" name="bid_email" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="bid_amount">Your Phone</label>
      <input type="text" name="phone"  class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="bid_amount">Your Bid Amount</label>
      <input type="text" name="bid_amount" id="bid_amount"  class="form-control" id="exampleFormControlInput1">
    </div>
   <div class="form-group">
     <label for="bid_mgs">Your Message</label>
     <textarea class="form-control" name="bid_msg" id="exampleFormControlTextarea1" rows="3"></textarea>
   </div>
   <button type="submit" class="btn btn-success">Your Bid</button>
 </form>
</div>


<script>

  let amount= document.getElementById('bid_amount')
  flag=1;

  function onSubmitForm(){
      if(amount.value ==''){
          document.getElementById('fname_error').innerHTML="Field is required*"
          flag=0
      }else{
          document.getElementById('fname_error').innerHTML=""
          flag=1
      };
      if(amount.value <=0){
          document.getElementById('fname_error').innerHTML="Enter a valid amount*"
          flag=0
      }else{
          document.getElementById('fname_error').innerHTML=""
          flag=1
      };
      


      if(flag){
          return true
      }else{
          return false
      }
  }
</script>


{% endblock %}